<div class="banner">
  <div class="banner-placement">
    <h1>The Amazing</h1>
    <h1 id="spider">Spider-Man</h1>
    <p>Peter Parker est un adolescent combattant le crime sous l'identité de Spider-Man après avoir été mordu par une araignée transgénique dans les laboratoires Oscorp. Chassé par les autorités sous les ordres du capitaine George Stacy, le père de sa petite amie Gwen, Peter tente de sauver New York du Docteur Connors, l'ex-associé de son père métamorphosé en créature reptilienne, le Lézard.</p>
    <div class="dbtn-hpage">
      <div class="lecture-btn">
        <a href="#"><i class="fa-solid fa-play"></i>  Lecture</a>
      </div>
      <div class="infos-btn">
        <a href="#"><i class="fa-solid fa-circle-exclamation"></i>  Plus d'infos</a>
      </div>
    </div>
  </div>
</div>
<h2>Reprendre avec le profil Thomas</h2>
<div class="reprendre-avec">
  <div class="film"></div>
  <div class="film"></div>
  <div class="film"></div>
  <div class="film"></div>
  <div class="film"></div>
  <div class="film"></div>
</div>
