<div class="banner">
  <h1>Titre du film</h1>
  <p>Description du film Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi vitae rem fuga quo unde! Facilis eligendi voluptatum praesentium illo necessitatibus fugit, amet nobis dicta cumque, et provident! Doloribus, incidunt excepturi.</p>
  <div class="lecture-btn">lecture</div>
  <div class="infos-btn"></div>
</div>
