  <div class="container">
    <div class="tous-show">
      <%= image_tag @movie.image, class: "img-show" %>
      <div class="title-show">
        <h1>
          <%= @movie.title %>
        </h1>
        <p>
          <%= @movie.description %>
        </p>
      </div>
    </div>
  </div>
