<div class = "div-container-page-home">
  <h1>Profile</h1>
  <div class="div-movies">
  <%= link_to movies_path do %>
      <%= image_tag "poulet.jpg", class: "img-user" %>
  <% end %>

  <h2><%= %></h2>
  </div>
  <div class="div-account">
    <%= link_to "Gérer le compte", profile_users_path, class: "btn-account" %>
  </div>
</div>
