<div class="div-container-profile">
  <h1>Profile</h1>
  <div class="div-infos">
    <h2>
    <i class="fa-solid fa-at"></i>
    Email:
    <%= current_user.email %>
    </h2>
    <h2>
    <i class="fa-solid fa-phone"></i>
    Phone:
    <%= current_user.phone %>
    </h2>
  </div>
  <div class="div-logout">
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn-logout" %>
  </div>
</div>
