<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-infos">
    <ul>
      <li>Audio et sous titres</li>
      <li>Centre d'aide</li>
      <li>Centre des médias</li>
      <li>Offres d'emploi</li>
    </ul>
    <ul>
      <li>Confidentialité</li>
      <li>Paramètres des témoins</li>
      <li>Contactez-nous</li>
    </ul>
    <ul>
      <li>Vidéodescription</li>
      <li>Cartes-cadeaux</li>
      <li>Relations des investisseurs</li>
    </ul>
    <ul>
      <li>Conditions d'utilisation</li>
      <li>Mentions légales</li>
      <li>Informations sur la société</li>
    </ul>
  </div>
  <div class="code-service">
    <a href="#">Code de service</a>
  </div>
  <p >© 1997 - 2022 Netflix, Inc. {775147f4-0e0c-429b-be2e-a1d663c6c1d6}</p>
</div>
