<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-infos">
    <ul>
      <li>Audio et sous titres</li>
      <li>Centre d'aide</li>
      <li>Centre des médias</li>
      <li>Offres d'emploi</li>
      <li>Confidentialité</li>
      <li>Paramètres des témoins</li>
      <li>Contactez-nous</li>
      <li>Vidéodescription</li>
      <li>Cartes-cadeaux</li>
      <li>Relations des investisseurs</li>
      <li>Conditions d'utilisation</li>
      <li>Mentions légales</li>
      <li>Informations sur la société</li>
    </ul>
  </div>
</div>
