
<div class = "div-container-page-home">
  <h1>Profile</h1>
  <div class="div-movies">
    <%= link_to "movies", movies_index_path %>
  </div>
  <div class="div-account">
    <%= link_to "Gérer le comptes", "#" %>
  </div>
</div>
